@import "config";
@import "shared";

* {
  margin: 0;
  padding: 0;
  line-height: 1.4;
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}

body {
  background-image: linear-gradient(90deg, $primary-color, $secondary-color);
}

.bar-area {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
  background-color: $navbar-bg;
  @include set-text-color($navbar-bg);

  h1 {
    padding: 10px;
  }

  ul {
    display: flex;
    list-style: none;
  }

  li {
    padding: 20px;
  }
}

.difs-btn {
  display: flex;
  justify-content: space-evenly;
  margin: 2rem 0;
  text-transform: uppercase;

  .selected:after {
    position: absolute;
    text-align: center;
    color: lighten(green, 50%);
    content: "✔";
    height: 20px;
    width: 20px;
    transform: translateY(-50%);
    border-radius: 50%;
    top: 0;
    right: 0;
    background: black;
  }

  &-easy {
    @include btn-dif;
    background: lighten(green, 10%);
    @include set-text-color(green);

    &:hover {
      background: green;
    }
  }

  &-medium {
    @include btn-dif;
    background: darken(coral, 10%);
    @include set-text-color(coral);

    &:hover {
      background: darken(coral, 20%);
    }
  }

  &-hard {
    @include btn-dif;
    background: firebrick;
    @include set-text-color(firebrick);

    &:hover {
      background: darken(firebrick, 10%);
    }
  }
}

.noq {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 2rem 0;

  &-btn {
    position: relative;
    cursor: pointer;
    border: 3px solid $navbar-bg;
    padding: 1rem;
    border-radius: 2rem;
    background: lighten($navbar-bg, 20%);
    @include set-text-color($navbar-bg);
  }

  .selected:after {
    position: absolute;
    text-align: center;
    color: lighten(green, 50%);
    content: "✔";
    height: 20px;
    width: 20px;
    transform: translateY(-50%);
    border-radius: 50%;
    top: 0;
    right: 0;
    background: black;
  }

  &-btn:hover {
    background: lighten($navbar-bg, 30%);
    transform: scale(0.95);
  }
}

.game-start-btn {
  background: lighten($navbar-bg, 10%);
  width: 50%;
  font-size: 1.5rem;
  border-radius: 1.5rem;
  text-transform: uppercase;
  text-align: center;
  cursor: pointer;

  &-enabled {
    @extend .game-start-btn;
    &:hover {
      transform: scale(0.95);
      color: lighten(green, 10%);
    }
  }

  &-disabled {
    @extend .game-start-btn;
    &:hover {
      cursor: not-allowed;
    }
  }
}

.game-logo:after {
  display: block;
  content: "?";
  font-size: 15rem;
  animation: rotate-game-question infinite 20s linear;
}

.question-screen {
  display: flex;
  flex-direction: column;
  align-items: center;

  .question {
    font-size: 1.5rem;
    background: lighten($navbar-bg, 10%);
    padding: 0.5rem;
    margin: 0.5rem;
    border-radius: 0.5rem;
  }

  .answers {
    margin: 3rem 0;
  }

  .answer {
    cursor: pointer;
    border-radius: 1rem;
    text-align: center;
    font-size: 1.1rem;
    margin: 0.5rem 0;
    background: lighten($navbar-bg, 10%);
    padding: 0.3rem;

    &:hover {
      background: lighten($navbar-bg, 20%);
      transform: scale(0.95);
    }
  }
}

.game-panel {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px 0 0 0;

  label {
    display: block;
    font-size: 2rem;
    padding: 0.5rem 0;
    text-align: center;
  }

  button {
    display: block;
    @include btn($navbar-bg);
  }

  &-left {
    height: 400px;
    width: 400px;
    border-top-left-radius: 0.5em;
    border-bottom-left-radius: 0.5em;
    background-color: $navbar-bg;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;

    @include set-text-color($navbar-bg);
  }

  &-right {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 400px;
    width: 400px;
    padding: 20px;
    box-sizing: border-box;
    background-color: #fff;
    border-bottom-right-radius: 0.5em;
    border-top-right-radius: 0.5em;

    label {
      background: darken(#fff, 10%);
      padding: 0.6rem;
      border-radius: 1.5rem;
      margin: 0.8rem 0;
    }
  }
}

@keyframes rotate-game-question {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
